body {
  background: gold;
  text-align: center;

}

h1 {
  font-family: "PT Serif", sans-serif;
  font-size: 80px;
  text-align: center;
}

#lives {
  font-size: 1.6em;
  text-align: center;
  display: block;
}

.keyboard {
  margin: 5% auto;
}

.keyboard div {
  margin: 0 auto;
  text-align: center;
}

.keyboard div div {
  display: inline-block;
  width: 40px;
  padding: 8px;
  margin: 5px auto;
  text-align: center;
  border: 2px solid #000;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.4s ease;
  font-weight: 300;
  font-size: 1.5rem;
}

.keyboard div div:hover {
  background-color: #000;
  color: #fff;
}

button{
  background-color: black;
  color: gold;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
}

button:hover{
  background: white;

}

p {
  font-size: 1.6em;
  text-align: center;
  display: block;
}
